body{
  font-size: 16px;
  color: #5b5b60;
  background-color: #f9fbfe;
  font-family: 'Noto Sans JP', sans-serif;
  color: #5b5b60;
}


body,h1,h2,h3,p,ul{
  margin: 0;
  padding: 0;
}

h1{
  font-size: 36px;  
}

a{
  text-decoration: none;
  :hover{
    opacity: 0.6;
  }
}

input{
  display: block;
  background: #f9fbfe;
  border: none;
  outline: none;
  box-sizing: border-box;
  ::placeholder{
    color: red;
  }
}

ul{
  list-style: none;
}

header{
  background: #151515;
  .container{
    display: flex;
    width: 1024px;
    margin: 0 auto;
    height: 88px;
    line-height: 88px;
    h1{
      a{
        color: #f0f0f0;
      }
    }
    form{
      display: flex;
      padding-left: 280px;
      input{
        position: relative;
        top: 32px;
        box-sizing: border-box;
        padding: 0 5px;
        height: 24px;
        border-radius: 5px 0 0 5px;
      }
      .submitBtn{
        border-left: #151515 1px solid;
        font-weight: bold;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
      }
    }
    ul{
      float: right;
      display: flex;
      li{
        padding-left: 30px;
        a{
          color: #f0f0f0;
          font-weight: bold;
          img{
            height: 30px;
            position: relative;
            top: 10px;
          }
        }
      }
      .logIn{
        padding-left: 46px!important;
      }
      .logOut{
        padding-left: 30px;
      }
    }
  }
}

.topVisual{
  background: url(../img/main-visual.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 680px;
}

.mainContent{
  .container{
    width: 1024px;
    margin: 0 auto;
    h2{
      font-size: 32px;
      text-align: center;
      padding: 128px 0 64px 0;
    }
    .items{
      display: flex;
      flex-wrap: wrap;
      .item{
        a{
          color: #5b5b60;
          img{
            width: 256px;
          }
        }
        .itemName{
          padding-left: 12px;
          margin-top: 12px;
        }
        .itemPrice{
          padding-left: 12px;
          margin-bottom: 48px ;
        }
      }
    }
  }
}

footer{
  .container{
    height: 88px;
    font-size: 12px;
    line-height: 88px;
    text-align: center;
    background: #151515;
    color: #f0f0f0;
    margin-top: 80px;
  }
}

// login-input-page
.loginInputPage{
  .container{
    h2{
      font-size: 32px;
      text-align: center;
      margin-top: 64px;
    }
    .forms{
      width: 624px;
      margin: 48px auto;
      display: flex;
      .loginForm{
        box-sizing: border-box;
        border: 1px solid  #bbb;
        border-radius: 4px;
        width: 300px;
        height: 450px;
        margin-right: 12px;
        padding: 40px;
        h3{
          font-size: 20px;
          margin-bottom: 16px;
        }
        form{
          input{
            margin-bottom: 12px;
            padding: 5px;
            width: 220px;
            height: 48px;
            border: 1px solid  #bbb;
            border-radius: 4px;
          }
          .btnHover{
            position: relative;
            :hover{
              opacity: 0.6;
            }
          }
          .btnBefore:before{
            position: absolute;
            content: 'メールアドレスがまたはパスワードが違います';
            font-size: 10px;
            top:-30px;
            color: #b93823;
          }
          .btn{
            background: #87cec6;
            font-weight: bold;
            color: #f9fbfe;
            border: none;
            margin-top: 40px;
            cursor: pointer;
          }
        }
      }
      .registerForm{
        box-sizing: border-box;
        border: 1px solid  #bbb;
        border-radius: 4px;
        width: 300px;
        height: 450px;
        margin-left: 12px;
        padding: 40px;
        h3{
          font-size: 20px;
          margin-bottom: 16px;
        }
        form{
          input{
            margin-bottom: 12px;
            padding: 5px;
            width: 220px;
            height: 48px;
            border: 1px solid  #bbb;
            border-radius: 4px;
          }
          .btnHover{
            position: relative;
            :hover{
              opacity: 0.6;
            }
          }
          .btnBefore:before{
            position: absolute;
            content: 'パスワードは英数字8文字以上で入力してください';
            font-size: 10px;
            top:-30px;
            color: #b93823;
            display: none;
          }
          .btnAfter:after{
            position: absolute;
            content: 'メールアドレスを正しく入力してください';
            font-size: 10px;
            top:-30px;
            color: #b93823;
          }
          .btn{
            font-weight: bold;
            background: #87cec6;
            color: #f9fbfe;;
            border: none;
            margin-top: 40px;
          }
        }
      }
    }
  }
}

// login-output-page
.loginOutputPage{
  div{
    margin-top: 64px;
    text-align: center;
    height: 100vh;
  }
}

// use-input-page
.userInputPage{
  .container{
    height: 100vh;
    h2{
      font-size: 32px;
      text-align: center;
      margin-top: 64px;
    }
    form{
      margin: 48px 0;
      .textArea{
        display: flex;
        width: 360px;
        justify-content: space-between;
        margin: 0 auto;
        p{

        }
        input{
          margin-bottom: 12px;
          padding: 5px;
          width: 220px;
          height: 32px;
          border: 1px solid  #bbb;
          border-radius: 4px;
          margin-left: 24px;
        }
      }
      .btn{
        margin: 0 auto;
        font-weight: bold;
        background: #87cec6;
        color: #f9fbfe;;
        border: none;
        height: 48px;
        margin-top: 40px;
        margin-bottom: 12px;
        padding: 5px;
        width: 220px;
        border-radius: 4px;
          
      }
      .btnHover{
        position: relative;
        width: 230px;
        margin: 0 auto;
        :hover{
          opacity: 0.6;
        }
      }
      .btnBefore:before{
        position: absolute;
        content: 'パスワードは英数字8文字以上で入力してください';
        font-size: 10px;
        top:-30px;
        color: #b93823;
      }
      
    }
  }
}

// user-output-page
.userOutputPage{
  div{
    margin-top: 64px;
    text-align: center;
    height: 100vh;
  }
}

// favorite-page

.addFavoriteItem,.deleteFavoriteItem{
  text-align: center;
  padding-top: 48px;
}
.favoritePage{
  .container{
    h2{
      font-size: 32px;
      text-align: center;
      margin-top: 64px;
    }
    table{
      margin: 48px auto;
      tr{
        :first-child{
          text-align: right;
          margin-right: 8px;
        }
        th{
          padding-bottom: 8px;
          text-align: left;
          width: 100px;
        }
        td{
          a{
            color: #5b5b60;
            text-decoration: underline;
            img{
              width: 60px;
              text-align: right;
            }
          }
          .delete{
            color: #3037c5;
            text-decoration: underline;
          }
        }
      }
    }
  }
}